/* html, body, #wrapper {
    width: 100%;
    height: 100%;
	padding: 0px;
	margin: 0px;
} */
#map {
    position: relative;
    width: 75%;
    height: 610px;
    margin: auto auto;
}

svg {
    position: absolute;
    /* width: 100%; */
    width:100%;
    height: 100%;
}

canvas {
    position: relative;
}

.hidden {
    display: none;
}

#tooltip {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
}

.container {
    line-height: 70%
}

.NB {
    width:900;
    position: relative;
    margin: auto auto;
    align-content: center;
    font: 14px Arial
}

#bubble-chart{
    position: relative;
    margin: auto auto;
}

#divPopulation{
    position: relative;
    /* margin: auto auto; */
    margin-top: auto auto;
}

#divCorrelation{
    position: relative;
    /* margin: auto auto; */
    margin-top: 10;
}
#divPanoramic{
    position: relative;
    margin: auto auto;
}
body { font: 14px Arial;
  /* background: red; */
  /* background: radial-gradient(circle,white,red); */
  background-image: url("./image/1.jpg");
  /* background: repeating-radial-gradient(
    circle,
  #ffffff,
  #ffffff 50%,
  #DA0000 50%,
  #DA0000
); */
/* The rectangle in which to repeat.
   It can be fully wide in this case */
background-size: 100%;

}


div.tooltip {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 45px;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#bubble-chart .legend {
	position: absolute;
	bottom: 40px;
	right: 0;
	left: auto;
	width: 170px;
	height: 110px;
  }

  #legend {
	position: absolute;
	bottom: 0;
	right: 0;
  }

  #yo{
    background:#cccccc;
    border:1px solid #000000;
    }

#divPopulation .y.axis line {
      fill: none;
	  stroke: black;
    }

#divPopulation .x.axis line {
      fill: none;
      stroke: black;
      shape-rendering: crispEdges;
    }

#divPopulation .axis path {
      display: none;
    }

#divPopulation .brush .extent {
      fill-opacity: .125;
      shape-rendering: crispEdges;
    }

#divPopulation .resize {
      display: inline !important; /* show when empty */
      fill: #7A7A7A;
      fill-opacity: 1;
      stroke: #7A7A7A;
      stroke-width: 2px;
    }

#divPopulation .bar {
      /*shape-rendering: crispEdges;*/
    }

#container{
  width:100%;
}
